.main-block{
    left: 40%;
    top: 20%;
}
.game-block{
    left: 40%;
    top: 5%;
}
.icon-option {
  font-size: 400% !important;
  color: #000000;
  border-radius: 10%;
  border: 6px solid #000000;
  padding: 20px;
  cursor: pointer;
}
.winner{
  color: #61e73c;
  border: 6px solid #61e73c;
}
.loser{
  color: #ea0808;
  border: 6px solid #ea0808;
}
.choices{
    margin-left: 4%;
}