{% extends "rps/layout.html" %}
{% block head %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/d2b46f845b.js"></script>
{% endblock %}
{% block content %}
        <div class="game-block position-absolute">
            <p style="margin-left: 10%" class="position-relative fw-light fs-1">Hey, {{ session['nickname'] }}!</p>
            <p style="margin-left: 10%; margin-top: -5%" class="position-relative fw-light fs-1">Your score: {{ session['score'] }}</p>
            {% if context['pc_choice'] %}
                <p style="margin-left: 10%; margin-top: -5%" class="position-relative fw-light fs-1">PC choice:</p>
                <i style="margin-left: 30%; margin-bottom: 5%" data-option="{{ context['pc_choice'] }}" style="pointer-events: none;" class="position-relative icon-option fa fa-hand-{{ context['pc_choice'] }}-o {% if context['winner'] == 'pc' %} {{ 'winner' }} {% elif context['winner'] == 'user' %} {{ 'loser' }} {% endif %}" aria-hidden="true"></i><br>
                <p style="margin-left: 10%; margin-top: -5%" class="position-relative fw-light fs-1">Your choice:</p>
            {% endif %}
            <i onclick="window.open({{'"' + url_for('game') + '?choice=rock' + '"' }}, &quot;_self&quot;)" data-option="rock" class="position-relative icon-option fa fa-hand-rock-o {% if context['winner'] == 'user' and context['user_choice'] == 'rock' %} {{ 'winner' }} {% elif context['winner'] == 'pc' and context['user_choice'] == 'rock' %} {{ 'loser' }}{% endif %}" aria-hidden="true"></i>
            <i onclick="window.open({{'"' + url_for('game') + '?choice=paper' + '"' }}, &quot;_self&quot;)" data-option="paper" class="position-relative icon-option fa fa-hand-paper-o {% if context['winner'] == 'user' and context['user_choice'] == 'paper' %} {{ 'winner' }} {% elif context['winner'] == 'pc' and context['user_choice'] == 'paper' %} {{ 'loser' }}{% endif %}" aria-hidden="true"></i>
            <i onclick="window.open({{'"' + url_for('game') + '?choice=scissors' + '"' }}, &quot;_self&quot;)" data-option="scissors" class="icon-option fa fa-hand-scissors-o {% if context['winner'] == 'user' and context['user_choice'] == 'scissors' %} {{ 'winner' }} {% elif context['winner'] == 'pc' and context['user_choice'] == 'scissors' %} {{ 'loser' }}{% endif %}" aria-hidden="true"></i>
        </div>
{% endblock %}
